Builds/
.vscode/
Gimp/cropped/knobs/round/frame*
Gimp/cropped/knobs/modwheel/frame*
Gimp/cropped/knobs/metal3/frame*
Gimp/cropped/knobs/metal2/frame*
Gimp/cropped/knobs/metal1/frame*

Gimp/cropped/knobs/black1/frame*
Gimp/cropped/knobs/black2/frame*
Gimp/cropped/knobs/black3/frame*
Gimp/cropped/knobs/black4/frame*

