[submodule "tuning-library"]
	path = libs/tuning-library
	url = https://github.com/surge-synthesizer/tuning-library.git
[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "libs/clap-juce-extensions"]
	path = libs/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions
